/* BASE STYLES */

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-display: "Sail", cursive;
  --fs-xl: clamp(3.5rem, 6vw + 1rem, 5rem);
  --fs-600: clamp(3.25rem, 6vw + 1rem, 4rem);
  --fs-500: 2rem;
  --fs-400: 1.8rem;
  --color-green: #3cba92;
  --color-yellow: #fdd01b;
  --color-blue: #0074d9;
  --color-red: #db3445;
  --color-white: #dcd9d4;
  --color-black: #000000;
  --color-grey: 54, 54, 54;
  --color-theme: #0074d9;
  --z-index-negative: -1;
  --z-index-box: 1000;
  --z-index-popup: 1100;
  --z-index-modal: 1200;
  --z-index-loader: 1300;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scrollbar-width: thin;
}

ul {
  list-style: none;
}

*:focus {
  outline-color: var(--color-blue);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-gap: 2rem;
  font-size: calc(15px + 0.2vw);
  font-family: var(--ff-primary);
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  background-image: linear-gradient(
    to top,
    var(--color-theme) 0%,
    var(--color-green) 100%
  );
  margin: 0 auto;
}

::selection {
  background-color: var(--color-yellow);

  color: var(--color-grey);
}

a:hover,
button:hover,
.list__item--rendered:hover {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
}

input,
textarea {
  border: none;
}

table {
  contain: strict;
}

p {
  max-width: 70ch;
}
p:not(:last-child) {
  margin-bottom: 1rem;
}

fieldset {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem 0;
  border: none;
}

.img {
  transition: 0.2s all ease-in-out;
  height: 100%;
  position: relative;
}

/* container styling */

.main {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  align-items: flex-start;
}

.container {
  display: grid;
  min-height: auto;
  justify-content: center;
  transition: opacity 0.5s;
}

.container__settings {
  position: fixed;
  display: grid;
  grid-gap: 1rem;
  z-index: var(--z-index-popup);
}

.container__modal {
  position: fixed;
  background-color: rgba(var(--color-grey), 0.55);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: var(--z-index-modal);
}

/* list styling */

.list__items {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: flex-start;
}

.list__item {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.list__item--rendered {
  position: relative;
  width: 46vw;
}

.list__item--input {
  position: relative;
  width: 95vw;
}

.list__item h2 {
  font-size: 1.7rem;
  padding-left: 0.5rem;
}

.list__item p,
.list__item textarea {
  width: 100%;
  padding: 0.5rem;
  overflow-y: auto;
  background-color: inherit;
}

.list__item p {
  height: 10rem;
}

.list__item.dragging {
  opacity: 0.5;
}

.form__title,
.list__item textarea {
  background-color: inherit;
  padding: 1rem;
  outline: none;
}

.form__text {
  resize: none;
  min-height: 50vh;
  max-height: 80vh;
}

/* buttons */

.button--cta {
  position: relative;
  justify-self: center;
  display: grid;
  margin-top: 1rem;
  width: 7rem;
  height: 7rem;
  transition: 0.2s all;
  z-index: 9;
}

.button__form--delete,
.button__form--save--exit,
.button__alert--save--exit,
.button__form--pin {
  height: auto;
  margin: 0.5rem;
}

.button__alert--save--exit,
.button__form--save--exit {
  width: 4rem;
}

.button__alert--save--exit {
  position: absolute;
  top: 0;
  left: 0;
}

.button__form--delete {
  width: 2.5rem;
  margin-left: auto;
}

.button__form--pin {
  display: inline;
  width: 2.5rem;
}

.button__form--pin > svg {
  fill: var(--color-white);
}

.button__form--pin > svg:active {
  fill: var(--color-green);
}

.buttons__container {
  display: flex;
  justify-content: space-between;
}

.button__settings {
  height: auto;
  width: 4rem;
  margin: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.alert__buttons {
  width: 100%;
  display: flex;
  grid-gap: 2rem;
  justify-content: center;
}

.button--yes,
.button--no {
  height: 3rem;
  width: 6rem;
  border: 1px var(--color-black) solid;
  border-radius: 5px;
}

.button--yes {
  background-color: var(--color-red);
}

/* .settings__options, */

.settings__options {
  display: grid;
  grid-gap: 0.8rem;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: var(--z-index-negative);
}

.setting {
  height: auto;
  margin: 0.5rem;
  width: 2.5rem;
}

/* Footer */

.footer {
  align-self: end;
  padding: 1rem;
  line-height: 0.9;
  display: grid;
  justify-content: center;
  font-family: var(--ff-display);
  font-size: var(--fs-500);
  color: #d6e5e5;
}

/* modal form */

.modal__alert {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 95vw;
  min-height: 15rem;
  padding: 1rem;
  background-color: var(--color-white);
  border: 1px var(--color-black) solid;
  border-radius: 5px;
}

.quote {
  font-family: var(--ff-display);
  font-size: 2.5rem;
}

.quote__author {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  font-style: italic;
}

.instruction--create,
.instruction--edit,
.instruction--save,
.instruction--delete {
  position: absolute;
  height: auto;
}

.instruction--create {
  top: 10rem;
  left: 50%;
  transform: translate(-20%, 0);
  width: 15rem;
}

.instruction--edit {
  bottom: -12rem;
  left: 2rem;
  width: 25rem;
}

.instruction--save {
  top: -6rem;
  left: 3rem;
  width: 25rem;
}

.instruction--delete {
  bottom: -6rem;
  right: 3rem;
  width: 18rem;
}

/* utility classes */

.hidden {
  opacity: 0;
  display: none;
  transition: opacity 1s;
}

.hover {
  animation: scale 0.5s ease-in-out forwards;
}

.rotate {
  transform: rotate(360deg);
}

.translateX {
  transform: translateX(0);
}

.fade-out-in {
  animation: fade 1s;
}

/* animations */

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
}

/* media queries */

@media screen and (min-width: 700px) {
  .list__item--rendered {
    width: 30vw;
  }

  .list__item--input {
    width: 70vw;
  }

  .modal__alert {
    width: 70vw;
    padding: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .list__item--rendered {
    width: 25vw;
  }

  .list__item--input {
    width: 70rem;
  }

  .modal__alert {
    width: 35vw;
  }
}
