/* BASE STYLES */

:root {
  --ff-primary: "Lato", sans-serif;
  --ff-display: "Neuton", serif;
  --fs-xl: clamp(3.5rem, 6vw + 1rem, 5rem);
  --fs-600: clamp(3.25rem, 6vw + 1rem, 4rem);
  --fs-500: 2rem;
  --fs-400: 1.8rem;
  --color-font: #11347d;
  --color-primary: #ffc600;
  --color-green: #07793d;
  --color-yellow: #fdd01b;
  --color-blue: #0074d9;
  --color-red: #db3445;
  --color-white: #ffffff;
  --color-grey: 54, 54, 54;
  --z-index-negative: -1;
  --z-index-box: 1000;
  --z-index-popup: 1100;
  --z-index-modal: 1200;
  --z-index-loader: 1300;
}
/* @media screen and (min-width: var(--bp-xl)) {
  :root :root {
    --fs-500: 2.75rem;
    --fs-400: 2.5rem;
  }
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

*:focus {
  outline-color: var(--color-blue);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: calc(15px + 0.2vw);
  font-family: var(--ff-primary);
  color: var(--color-font);
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-blue);
  margin: 0 auto;
  /* display: grid; */
  /* justify-items: center; */
  /* align-items: center; */
}

::selection {
  background-color: var(--color-yellow);
  color: var(--color-grey);
}

a:hover,
button:hover {
  cursor: pointer;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
}

html {
  scrollbar-color: var(--color-blue) #e0e0e0;
  scrollbar-width: thin;
}

input,
textarea {
  border: none;
}

table {
  contain: strict;
}

p {
  max-width: 70ch;
}
p:not(:last-child) {
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

.img {
  transition: 0.2s all ease-in-out;
  height: 100%;
  position: relative;
}

.main {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
}

/* container styling */

.container {
  background-color: var(--color-blue);
  display: grid;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
}

.list__items {
  display: grid;
  /* grid-auto-flow: dense; */
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: minmax(1rem, auto); */
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10rem;
  /* background-color: pink; */
}

.list__item {
  background-color: var(--color-blue);
  border-radius: 5px;
  border: 2px solid var(--color-font);
  /* padding: 1rem 1rem 2rem; */
}

.list__item--rendered {
  width: 48vw;
}

.list__item--input {
  width: 100vw;
  /* height: 100vh; */
}

.list__item h2 {
  color: black;
  text-align: center;
  font-size: 1.7rem;
}

.list__item p,
.list__item textarea {
  width: 100%;

  padding: 0.5rem;
  overflow-y: scroll;
  background-color: inherit;
}

.list__item p {
  max-height: 10rem;
}

.list__item textarea {
  outline: none;
  resize: none;
  background-color: green;
  /* max-height: 100rem; */
}

.form__title {
  background-color: inherit;
}

.form__text {
  max-height: 40vh;
  /* max-width: 80vw;

  background-color: inherit; */
}

/* buttons */

.button--cta {
  position: fixed;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  width: 8rem;
  height: 8rem;
  transition: 0.2s all;
}

.button__form--save--exit {
  justify-self: start;
}

.hover {
  animation: scale 0.5s ease-in-out forwards;
  /* animation-fill-mode: forwards; */
}

/* Footer */

.footer {
  background-color: yellow;
}

/* animations */

.fade-out-in {
  animation: fade 1s;
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
}

/* modal form */

.modal__container {
  position: fixed;
  background-color: rgba(var(--color-grey), 0.8);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modal__input {
  /* width: 47rem;
  background-color: var(--color-blue);
  border-radius: 5px;
  padding: 1.5rem 1.5rem 3rem; */

  /* display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 80vw; */
}

.form__title {
  /* font-size: 2rem;
  color: var(--color-primary);
  text-align: center; */
}

.hide {
  opacity: 0;
  display: none;
}
